.jumbotron-content {
  margin-top: 2em;
}
.random-button, .random-poke {
  padding: 1em;
}
.random-poke {
  min-height: 260px;
  max-width:  260px;
}
.empty {
  border: 1px dashed dimgray;
  border-radius: 260px;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay:    0.25s;
  animation-duration: 3s;
  animation-delay:    0.25s;
}
.sprite-canvas {
  background: white;
  display: inline-block;
  padding: 0.5em;
  border-radius: 1em;

  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow:    0px 1px 1px 1px rgba(0,0,0,0.5);
  box-shadow:         0px 1px 1px 1px rgba(0,0,0,0.5);

  margin-bottom: 1em;
}
.poke.jumbotron {
  padding-bottom: 25px;
}
.pokemon.template.large {
  -webkit-animation-delay: 0.35s;
  animation-delay:         0.35s;
}
.pokeball-img {
  position: absolute;
  right: 20px;
  top: -20px;
  opacity: 0.4;
  filter: none;
  -webkit-filter: grayscale(75%);
  -moz-filter:    grayscale(75%);
  -ms-filter:     grayscale(75%);
  -o-filter:      grayscale(75%);
  transition: 0.45s;
}
.chosen .pokeball-img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
  transition: 0.45s;
}
.pokeball-col {
  max-width: 480px;
}
.new-pokeball {
  padding-top: 20px;
}
