<!DOCTYPE html>
<html>
<head>
  <title>Poké Ball</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" role="main">
  <%= yield %>
</div>

</body>
</html>
